.otp-container {
  height: 100vh;
  background: #f4d7dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-box {
  width: 420px;
  background: #fff;
  padding: 36px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.otp-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 18px;
}

.otp-input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.otp-input {
  width: 48px;
  height: 54px;
  font-size: 22px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.2s;
}

.otp-input:focus {
  border-color: #b86cff;
  box-shadow: 0 0 0 3px rgba(184, 108, 255, 0.27);
}

.otp-error {
  color: red;
  margin-top: 5px;
}

.otp-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  background: linear-gradient(to right, #64d9e3, #cf4ecf);
  transition: 0.25s;
}

.otp-btn:hover {
  opacity: 0.9;
}
